.elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, max-content));
    margin: 0 auto;
    max-width: 880px;
    gap: 20px 17px;
    justify-content: center;
    padding-top: 51px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .elements {
        
        
        gap: 20px;
        padding-top: 36px;
    }
}
